<IfModule mod_rewrite.c>
    RewriteEngine On

    #Redirect all request to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?hostname=$1 [L]
</IfModule>